[Unit]
Description=instance to serve the Worker service from The Raspberry coordinator
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/raspberry-cam-system
Environment="PATH=/home/pi/raspberry-cam-system/.venv/bin:/usr/bin:/usr/sbin/:/bin"
ExecStart=/home/pi/raspberry-cam-system/.venv/bin/python worker.py

[Install]
WantedBy=multi-user.target
